body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Courier New, Courier, monospace
}

.avatar {
     
    width: 110px;
    border: 2px solid #b64949;
    border-radius: 100px;
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.4);
    transition: all 0.5s ease;
}

.avatar:hover {
    transform: scale(1.1);
}

.benvel {
    width: 60px;
    filter: blur(0);
  transition: filter 0.3s linear;
    
}
.benvel:hover {
    filter: blur(3px);
}
   

.card {
    width: 400px;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e4e3dd;
    color: #2b2839;
    border-left: 4px dotted #b64949;
    border-right: 4px dotted #b64949;
    border-radius: 20px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
